.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-presentation {
  margin: 15px;
}

.about-presentation > p {
  text-align: center;
}

.about-experience {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 15px 30px;
}
