h1 {
  text-align: center;
}

p {
  white-space: pre-line;
  text-align: center;
}

img {
  height: 128px;
  width: 128px;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card-image-container {
  display: flex;
  flex-direction: column;
}

.card-text-container {
  display: flex;
  flex-direction: column;
}

.card-icons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

@media (min-width: 576px) and (max-width: 1023.98px) {
  img {
    height: 192px;
    width: 192px;
  }
}

@media (min-width: 1024px) {
  img {
    height: 256px;
    width: 256px;
  }
}

@media (min-width: 575.98px) {
  h1 {
    text-align: left;
  }

  p {
    white-space: pre-line;
    text-align: left;
  }

  .card-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .card-image-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 33%;
  }

  .card-icons-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 33%;
    gap: 10px;
  }
}
