.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - (90px + 90px));
}

.card-image {
  display: flex;
  flex-direction: column;
}

.card-image > img {
  height: 128px;
  width: 128px;
}

.card-text {
  display: flex;
  flex-direction: column;
}

.card-text > p {
  white-space: pre-line;
  text-align: center;
}

.card-text > h1 {
  text-align: center;
}

.card-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

@media (min-width: 576px) and (max-width: 1023.98px) {
  .card {
    flex-direction: column;
  }

  .card-image > img {
    height: 192px;
    width: 192px;
  }

  .card-text > h1 {
    text-align: center;
  }
}

@media (min-width: 1024px) {
  .card {
    flex-direction: row;
  }

  .card-image {
    align-items: flex-end;
    width: 25%;
  }

  .card-image > img {
    height: 256px;
    width: 256px;
  }

  .card-text > h1 {
    text-align: left;
  }

  .card-text > p {
    text-align: left;
  }

  .card-icons {
    justify-content: flex-start;
    gap: 10px;
  }
}
