header {
  position: relative;
  left: 0;
  top: 0;
  text-align: right;
  height: 30px;
}

header > ul {
  list-style-type: none;
}

header > ul > li > a {
  color: #000000;
  text-decoration: none;
}

header > ul > li {
  display: inline-block;
  margin: 0 10px;
}
