header {
  text-align: center;
  height: 30px;
  margin: 20px 0;
}

header > nav > ul {
  list-style-type: none;
  padding-inline-start: 0px;
}

header > nav > ul > li > a {
  color: #000000;
  text-decoration: none;
}

header > nav > ul > li {
  display: inline-block;
  margin: 5px;
}

header > nav > ul > li:hover {
  border-bottom: 2px solid var(--coal);
  padding: 0 0 5px 0;
}

header > nav > button {
  border: none;
  background: none;
  cursor: pointer;
}

@media (min-width: 575.98px) {
  header {
    text-align: right;
  }

  header > nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  header > nav > ul > li {
    margin: 0 10px;
  }
}
