.experience {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: auto;
  flex-grow: 1;
  border-radius: 8px;
  box-shadow: 1px 3px 10px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 15px 0;
}

.experience > div {
  margin: 10px;
}

.experience > div > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.experience > div > p {
  text-align: left;
}

.experience > div > h3 {
  border-bottom: 2px solid var(--blue);
  padding: 0 0 5px 0;
  font-weight: bold;
}

.experience > div > ul {
  padding-inline-start: 0px;
}

.experience > div > ul > li > span {
  display: inline-block;
  margin: 0 0 0 15px;
}

.experience > div > ul > li:last-child > span {
  display: none;
}

.experience > div > ul > li:first-child {
  margin: 0 10px 10px 10px;
}

.experience > div > ul > li {
  list-style-type: none;
  text-align: left;
  padding-inline-start: 0px;
  display: inline-block;
  margin: 0 10px 0 10px;
}
